* { padding: 0; margin: 0; }

body.scroll
{
  width: 100%;
  height: 100%;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: #ff6;
  background-color: #000;
  overflow: hidden;
}

.scroll .start
{
  position: relative;
  width: 16em;
  font-size: 200%;
  font-weight: 400;
  margin: 20% auto;
  color: #4ee;
  opacity: 0;
  z-index: 1;
  animation: intro 2s ease-out;
}

@keyframes intro {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

.scroll .main-title
{
  position: absolute;
  width: 2.6em;
  left: 50%;
  top: 25%;
  font-size: 10em;
  text-align: center;
  margin-left: -1.3em;
  line-height: 0.8em;
  letter-spacing: -0.05em;
  color: #000;
  text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
  opacity: 0;
  z-index: 1;
  animation: logo 6s ease-out;
}

.boring .main-title
{
  display: none;
}

.scroll .main-title sub
{
  display: block;
  font-size: 0.3em;
  letter-spacing: 0;
  line-height: 0.8em;
}

@keyframes logo {
  0% { transform: scale(1); opacity: 1; }
  15% { transform: scale(1); }
  50% { opacity: 1; }
  100% { transform: scale(0.1); opacity: 0; }
}

/* the interesting 3D scrolling stuff */
.scroll .titles
{
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
}

.scroll .titles:after
{
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, transparent 100%);
  pointer-events: none;
}

.titles p
{
  text-align: center;
  margin: 0.8em 0;
}

.boring .titles p
{
  font-size: 120%;
}

.titles .logo
{
  margin-bottom: -2em;
}

.titles .left
{
  text-align: left;
}

.titles .right
{
  text-align: right;
}

.titles p.header
{
  padding-top: 1em;
}

.boring .titles p.header
{
  font-weight: bold;
  font-size: 150%;
}

.scroll .titles a
{
  color: #ff6;
  text-decoration: underline;
}


.scroll .title-content
{
  position: absolute;
  top: 100%;
  animation: scroll 200s linear 4s infinite;
}

/* animation */
@keyframes scroll {
  0% { top: 100%; }
  100% { top: -600%; }
}

.boring .main-title {
  text-align: center
}

.boring-switch {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em;
  font-size: 150%;
  cursor: pointer;
}

.scroll .glow {
  animation-duration: 1s;
  animation-name: glow;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes glow {
  from { text-shadow: 0 0 0 #FF851F; color: #ff6; }
  to { text-shadow: 0 0 10px #FF851F; color: #FF851F; }
}