.P_entry, .P_entry_seen {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  
  margin-left: 3px;
  margin-right: -2px;

  padding: 2px 3px;
  
  background-color:#E7F1E5;
  
  font-family: Verdana;
  font-size: 12px;
  cursor: pointer;
  
  transition: background-color 0.3s ease;
}

.P_entry:hover, .P_entry_seen:hover {
  background-color: #F7F7F7;
}

.P_entry_seen {
  background-color: #D7D7D7;
}

.new_text {
  font-weight: bold;
  color: #aa0000;
}

a {
  color: #063d98;
  text-decoration: none;
  font: verdana, arial;
}

a:hover {
  color: #063d98;
  text-decoration: underline;
  font: verdana, arial;
}

a:visted {
  color: #063d98;
  text-decoration: none;
}

html {
  background-color: #CCD9C8;
}

body {
  min-width: 300px;
}

.header {
  font-family: Verdana;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
}

.subheader {
  font-family: Verdana;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 5px;
}

.footer {
  font-family: Verdana;
  text-align: center;
  font-size: 8pt;
  /*line-height: 16px;*/
  vertical-align: middle;
}

.container {
  padding-bottom: 5px;
}

.class_container {
  padding-bottom: 5px;
}

table.entry_container {
  border-spacing: 0;
  font-family: Verdana;
  width: 100%;
  font-size: 12px;
}

table.entry_container td {
  border-style: solid;
  border-width: 0;
  border-right-width: 1px;
  border-bottom-width: 1px;
}

table.entry_container tr:first-child  td:first-child {
  border-top-left-radius: 4px;
}
table.entry_container tr:first-child  td:last-child {
  border-top-right-radius: 4px;
}
table.entry_container tr:last-child  td:first-child {
  border-bottom-left-radius: 4px;
}
table.entry_container tr:last-child  td:last-child {
  border-bottom-right-radius: 4px;
}

table.entry_container tr:first-child td {
  border-top-width: 1px;
}
table.entry_container tr:last-child td {
  border-bottom-width: 1px;
}
table.entry_container tr td:first-child {
  border-left-width: 1px;
}
table.entry_container tr td:last-child {
  border-right-width: 1px;
}

.entry {
  background-color: #E7F1E5;
  padding: 2px 4px 2px 4px;
  cursor: pointer;
}

.entry:hover, .entry_seen:hover {
  background-color: #F7F7F7;
}

.entry_seen {
  background-color: #D7D7D7;
}

.has_new {
  background-color: #fffec6;
}

.class_header {
  background: linear-gradient(to bottom, #939F93, #C1D6C1) !important;
}

.class_header:hover {
  background: linear-gradient(to bottom, #C1D6C1, #F7F7F7) !important;
}

.spinner {
  position: relative;
  top: 2px;
  padding: 0;
  margin: 0;
  visibility: hidden;
}

.left {
  left: -4px;
}

.right {
  left: 4px;
}

.error {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  
  margin-top: 3px;
  
  padding: 3px;
  
  background-color: #E75;
  
  font-size: 12px;
  font-weight: normal;
}

.warning {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  
  margin-top: 3px;
  
  padding: 3px;
  
  background-color: #F8F4B8;
  
  font-size: 12px;
  font-weight: normal;
}

.raw {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  
  margin-top: 3px;
  
  padding: 3px;
  
  background-color: #D6D6D6;
  
  font-size: 9px;
}

.raw:hover {
  background-color: #E4E4E4;
}

.raw_hint {
  text-align: center;
  
  font-size: 12px;
}

.login_button {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: black;
  
  margin: 8px;
  padding: 8px;
  
  color: white;
  font-size: 1.2em;
  font-family: Verdana;
  text-align: center;
  
  background: linear-gradient(to bottom, #0088B5, #005D7C);
}

.login_button:hover {
  background: linear-gradient(to bottom, #00A4C6, #00739A);
}